name: synheart_focus_example
description: Example app demonstrating Synheart Focus SDK usage
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  synheart_focus:
    path: ../
  synheart_wear: ^0.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/models/Gradient_Boosting.onnx
    - assets/models/Gradient_Boosting_metadata.json

